html,
body {
  	width: 100%;
  	height: 100%;
	overflow: hidden;
}

body {
  	background: pink;
	overflow: hidden;
	animation: bodymove 1s forwards 1;
	opacity: 0;
}

@keyframes bodymove{
	to{
		opacity: 1;
	}
}

#cake {
  	display: block;
  	position: relative;
  	margin: -10em auto 0 auto;
}

#skin{
	width: 2px;
	height: 2px;
	border-radius: 1px;
	animation: skinmove 1.5s forwards 1 linear;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	display: none;
	background: #ffe;
}

@keyframes skinmove{
	to{
		top: 50%;
		left: 50%;
		width: 2000px;
		height: 2000px;
		border-radius: 1000px;
		box-shadow: 0 0 1000px 1000px #ffe;
	}
}

/* ============================================== Candle
*/
.velas {
  	background: #ffffff;
  	border-radius: 10px;
  	position: absolute;
  	top: 228px;
  	left: 50%;
  	margin-left: -2.5px;
  	margin-top: -8.33333333px;
  	width: 5px;
  	height: 35px;
  	-webkit-transform: translateY(-300px);
  	-ms-transform: translateY(-300px);
  	transform: translateY(-300px);
  	-webkit-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
  	-webkit-animation: in 500ms 6s ease-out forwards;
  	animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  	background: rgba(255, 0, 0, 0.4);
  	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2.22222222px;
}

.velas:after {
  	top: 25%;
  	left: 0;
}

.velas:before {
  	top: 45%;
  	left: 0;
}

/* ============================================== Fire
*/
.fuego {
  	border-radius: 100%;
  	position: absolute;
  	top: -20px;
  	left: 50%;
  	margin-left: -2.2px;
  	width: 6.66666667px;
  	height: 18px;
}

.fuego:nth-child(1) {
  	-webkit-animation: fuego 2s 6.5s infinite;
  	animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  	-webkit-animation: fuego 1.5s 6.5s infinite;
  	animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 6.5s infinite;
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  	-webkit-animation: fuego 0.5s 6.5s infinite;
  	animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  	-webkit-animation: fuego 0.2s 6.5s infinite;
  	animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    	background: rgba(254, 248, 97, 0.5);
    	-webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    	box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    	-webkit-transform: translateY(0) scale(1);
    	transform: translateY(0) scale(1);
  }

  50% {
    	background: rgba(255, 50, 0, 0.1);
    	-webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    	box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    	-webkit-transform: translateY(-20px) scale(0);
    	transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    	background: rgba(254, 248, 97, 0.5);
    	-webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    	box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    	-webkit-transform: translateY(0) scale(1);
    	transform: translateY(0) scale(1);
  }

  50% {
    	background: rgba(255, 50, 0, 0.1);
    	-webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    	box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    	-webkit-transform: translateY(-20px) scale(0);
    	transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
  }
}
@keyframes in {
  to {
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
  }
}

#text{
	text-align: center;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 65%;
	left: 50%;
	opacity: 0;
	animation: myblock 4s forwards 1 paused;
}

#text div{
	margin-top: 30px;
}

span{
	font-size: 50px;
	letter-spacing: 10px;
	position: relative;
}

#text1 span{
	font-family: '方正姚体';
}

#text2 span{
	font-family: 'Monotype Corsiva';
}

#text3 span{
	font-family: 'Yu Gothic';
}

@keyframes myblock{
	to{
		opacity: 1;
	}
}

#text1 span:nth-child(1){
    animation: jump forwards 1.5s linear 0s 6 alternate;
}

#text1 span:nth-child(2){
    animation: jump forwards 1.5s linear 0.1s 6 alternate;
}

#text1 span:nth-child(3){
    animation: jump forwards 1.5s linear 0.2s 6 alternate;
}

#text1 span:nth-child(4){
    animation: jump forwards 1.5s linear 0.3s 6 alternate;
}

#text1 span:nth-child(5){
    animation: jump forwards 1.5s linear 0.4s 6 alternate;
}

#text1 span:nth-child(6){
    animation: jump forwards 1.5s linear 0.5s 6 alternate;
}

#text1 span:nth-child(7){
    animation: jump forwards 1.5s linear 0.6s 6 alternate;
}
#text1 span:nth-child(8){
    animation: jump forwards 1.5s linear 0.7s 6 alternate;
}

#text1 span:nth-child(9){
    animation: jump forwards 1.5s linear 0.8s 6 alternate;
}

#text1 span:nth-child(10){
    animation: jump forwards 1.5s linear 0.9s 6 alternate;
}

#text1 span:nth-child(11){
    animation: jump forwards 1.5s linear 1s 6 alternate;
}

#text1 span:nth-child(12){
    animation: jump forwards 1.5s linear 1.1s 6 alternate;
}

#text1 span:nth-child(13){
    animation: jump forwards 1.5s linear 1.2s 6 alternate;
}

#text1 span:nth-child(14){
    animation: jump forwards 1.5s linear 1.3s 6 alternate;
}
#text1 span:nth-child(15){
    animation: jump forwards 1.5s linear 1.4s 6 alternate;
}

#text2 span:nth-child(1){
    animation: jump forwards 1.5s linear 0s 6 alternate;
}

#text2 span:nth-child(2){
    animation: jump forwards 1.5s linear 0.1s 6 alternate;
}

#text2 span:nth-child(3){
    animation: jump forwards 1.5s linear 0.2s 6 alternate;
}

#text2 span:nth-child(4){
    animation: jump forwards 1.5s linear 0.3s 6 alternate;
}

#text2 span:nth-child(5){
    animation: jump forwards 1.5s linear 0.4s 6 alternate;
}

#text2 span:nth-child(6){
    animation: jump forwards 1.5s linear 0.5s 6 alternate;
}

#text2 span:nth-child(7){
    animation: jump forwards 1.5s linear 0.6s 6 alternate;
}
#text2 span:nth-child(8){
    animation: jump forwards 1.5s linear 0.7s 6 alternate;
}

#text2 span:nth-child(9){
    animation: jump forwards 1.5s linear 0.8s 6 alternate;
}

#text2 span:nth-child(10){
    animation: jump forwards 1.5s linear 0.9s 6 alternate;
}

#text2 span:nth-child(11){
    animation: jump forwards 1.5s linear 1s 6 alternate;
}

#text2 span:nth-child(12){
    animation: jump forwards 1.5s linear 1.1s 6 alternate;
}

#text2 span:nth-child(13){
    animation: jump forwards 1.5s linear 1.2s 6 alternate;
}

#text2 span:nth-child(14){
    animation: jump forwards 1.5s linear 1.3s 6 alternate;
}
#text2 span:nth-child(15){
    animation: jump forwards 1.5s linear 1.4s 6 alternate;
}

#text3 span:nth-child(1){
    animation: jump forwards 1.5s linear 0s 6 alternate;
}

#text3 span:nth-child(2){
    animation: jump forwards 1.5s linear 0.1s 6 alternate;
}

#text3 span:nth-child(3){
    animation: jump forwards 1.5s linear 0.2s 6 alternate;
}

#text3 span:nth-child(4){
    animation: jump forwards 1.5s linear 0.3s 6 alternate;
}

#text3 span:nth-child(5){
    animation: jump forwards 1.5s linear 0.4s 6 alternate;
}

#text3 span:nth-child(6){
    animation: jump forwards 1.5s linear 0.5s 6 alternate;
}

#text3 span:nth-child(7){
    animation: jump forwards 1.5s linear 0.6s 6 alternate;
}
#text3 span:nth-child(8){
    animation: jump forwards 1.5s linear 0.7s 6 alternate;
}

#text3 span:nth-child(9){
    animation: jump forwards 1.5s linear 0.8s 6 alternate;
}

#text3 span:nth-child(10){
    animation: jump forwards 1.5s linear 0.9s 6 alternate;
}

#text3 span:nth-child(11){
    animation: jump forwards 1.5s linear 1s 6 alternate;
}

#text3 span:nth-child(12){
    animation: jump forwards 1.5s linear 1.1s 6 alternate;
}

#text3 span:nth-child(13){
    animation: jump forwards 1.5s linear 1.2s 6 alternate;
}

#text3 span:nth-child(14){
    animation: jump forwards 1.5s linear 1.3s 6 alternate;
}
#text3 span:nth-child(15){
    animation:  jump forwards 1.5s linear 1.4s 6 alternate;
}

@keyframes jump{
    0%{
        top: 0px;
        color: purple;
    }
    50%{
        top: -10px;
        color: cyan;
    }
    100%{
        top: 10px;
        color: aquamarine;
    }
}