*{
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: microsoft yahei;
}

html,body{
	width: 100%;
	height: 100%;
	background: #CBEBDB;
	overflow: hidden;
}

body{
	animation: mymove 1s 1 linear forwards paused;
	animation-delay: 500ms;
}

@keyframes mymove{
	to{
		transform: translate(-100%);
		opacity: 0;
	}
}

#container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

#output{
	width: 100%;
	height: 100%;
}

.prompt{
	width: 60%;
	height: 30px;
	margin: 5px auto;
	text-align: center;
	line-height: 30px;
	font-family: microsoft yahei,Arial,sans-serif;
	font-size: 13px;
	color: #df0000;
}

.containerT{
	width: 400px;
	height: 300px;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -200px;
	border-radius: 3px;
}

form{
	padding: 20px 0;
	transform: translate(-50%,-50%);
	position: absolute;
	top: 60%;
	left: 50%;
	z-index: 2;
}

form input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255,255,255,.4);
	background-color: rgba(255,255,255,.2);
	width: 200px;
	border-radius: 3px;
	padding: 8px 15px;
	margin: 0 auto 10px;
	display: block;
	text-align: center;
	font-size: 15px;
	color: #fff;
	-webkit-transition-duration: .25s;
	transition-duration: .25s;
	font-weight: 300;
}
form input:hover{
	background-color: rgba(255,255,255,.4);
}

form input:focus{
	background-color: #fff;
	width: 230px;
	color: #333;
}

form button{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	background-color: #fff;
	border: 0;
	padding: 10px 15px;
	color: #333;
	border-radius: 3px;
	width: 200px;
	cursor: pointer;
	font-family: microsoft yahei,Arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
	-webkit-transition-duration: .25s;
	transition-duration: .25s;
}

form button:hover{
	background-color: #f5f7f9;
}

#entry_btn{
	width: 200px;
	height: 40px;
	border-radius: 2px;
}

#entry_btn:hover{
	border-radius: 20px;
	width: 160px;
	box-shadow: 0 0 10px 5px white;
	font-size: 14px;
}

#icon{
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 50px;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 10%;
	left: 50%;
}

#icon img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}