*{
	margin: 0;
	padding: 0;
}

body{
	background: pink;
	overflow: hidden;
}

#content{
	animation: content14 1s forwards paused;
}

#content1{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: white;
	text-align: center;
	line-height: 30vh;
	font-size: 48px;
	animation: content11 3s forwards 2s,content12 1s forwards 9s;
	position: absolute;
	transform: translate(-50%,-70%);
	opacity: 0;
	top: -30%;
	left: 50%;
}

#content1 div{
	opacity: 0;
	animation: content13 1s forwards 5s,content14 1s forwards 8s;
}
#content1 span{
	position: relative;
}

.content1text1{animation: 1.5s content15 linear 1 5s;}
.content1text2{animation: 1.5s content15 linear 1 5.25s;}
.content1text3{animation: 1.5s content15 linear 1 5.5s;}
.content1text4{animation: 1.5s content15 linear 1 5.75s;}
.content1text5{animation: 1.5s content15 linear 1 6s;}
.content1text6{animation: 1.5s content15 linear 1 6.25s;}
.content1text7{animation: 1.5s content15 linear 1 6.5s;}
.content1text8{animation: 1.5s content15 linear 1 6.75s;}

@keyframes content11{
	25%{
		width: 20px;
		height: 20px;
		opacity: 1;
		top: 50%;
		left: 50%;
		border-radius: 10px;
		opacity: 1;
	}
	35%{
		width: 20px;
		height: 20px;
		opacity: 1;
		top: 50%;
		left: 50%;
		border-radius: 0px;
	}
	100%{
		border-radius: 0px;
		opacity: 0.7;
		width: 60vw;
		height: 30vh;
		top: 50%;
		left: 50%;
	}
}

@keyframes content12{
	to{
		width: 0;
	}
}

@keyframes content13{
	to{
		opacity: 1;
	}
}

@keyframes content14{
	to{
		opacity: 0;
	}
}

@keyframes content15{
	0%{top:0}
	16%{top:-10px}
	32%{top:0px}
	48%{top:10px}
	64%{top:0px}
	80%{top:-10px}
	100%{top:0}
}


#btn{
	width: 8vw;
	height: 6vh;
	border-radius: 8px;
	line-height: 6vh;
	text-align: center;
	font-size: 18px;
	color: white;
	background: #15BEFF;
	cursor: pointer;
	position: absolute;
	transform: translate(-50%,-70%);
	left: 50%;
	top: 60%;
	opacity: 0;
	display: none;
	transition: width 0.5s,height 0.5s,line-height 0.5s,opacity 0.5s;
	animation: 2s content13 forwards 2.5s;
}

#email{
	width: 0vw;
	height: 30vh;
	background: white;
	opacity: 0.8;
	position: absolute;
	transform: translate(-50%,-70%);
	top: 40%;
	left: 50%;
	display: none;
	animation: emailmove 2s forwards 0.5s;
}

@keyframes emailmove{
	to{
		width: 60vw;
	}
}

#text1{
	width: 60vw;
	height: 15vh;
	line-height: 15vh;
	text-align: center;
	font-size: 5vh;
	opacity: 0;
	animation: content13 1s forwards 2.5s;
}

#text2{
	width: 60vw;
	height: 15vh;
	line-height: 15vh;
	text-align: center;
	font-size: 3vh;
	opacity: 0;
	animation: content13 1s forwards 2.5s;
}

#btn:hover{
	width: 9vw;
	height: 7vh;
	line-height: 7vh;
	opacity: 0.6;
	z-index: 50;
}